*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
     margin: 2px;
}

header{
   
    display:inline-block;
    width:100%;
    height:auto;
    margin-top:5px;
    border-top:1px solid grey;
    color: #535353;
    font-weight: 400;
    
    
    
}


.tittle{
    display:inline-block;
    margin-left:200px;
  

}


.subtitle{
  display:inline-block;
    font-size: 20px;
     color: gray;
    margin-right:200px;
   
}

h1{
    font-size: 40px;
    color:#1569d6;

}



.nav-link{
    display:inline-block;
    margin-left:35px;
    font-size: 25px;
    text-decoration: none;
    color: gray;
    font-size: 20px;
   
}

.nav-link:hover{
    color: #1569d6;
    font-weight: 700;
}

.barraPesquisa{
    
   border:1.5px solid gray;
   padding: 5px;
   border-radius: 10px;
   font-size: 20px;
   height: 40px;
   text-align: center;
   
}

.barraPesquisa,::placeholder{
    
    color: gray;
    font-size: 10px;
}
 .barraPesquisa:hover{
   border: 1px solid #1569d6;
  
 }

 .barraPesquisa:focus{
    outline: none;
    border: 1px solid #1569d6;
  
 }

.icone-carrinho{
    
    border-radius: 10px;
    border:none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    
}

.contador-carrinho{
  
    font-size: 10px;
    color: red;
    font-weight: 700;
    background: none;
    border-radius: 15px;
   
}

.h2-carrinho{
    font-size: 20px;
    text-align: center;
    padding: 20px;

}

#texto-carrinho{
    text-align: center;
    padding: 10px;
    font-weight: 500;
    color: red;
}

#btn-fechar-carrinho{
  
    width: 150px;
    margin: 10px;
    font-size: 12px;
    border: none;
    font-weight: bold;
    background: none;
    color: #0e3c7a;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;

}

#btn-fechar-carrinho{
    text-decoration: none;
    color: #0e3c7a;
}
#btn-fechar-carrinho:hover{
    color: #0d7f24;
  

}


#carrinho-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
  
}


.carrinho-oculto {
    transform: translateX(100%);
}


#carrinho-lateral:not(.carrinho-oculto) {
    transform: translateX(0);
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
    opacity: 1;
    transition: opacity 0.3s ease;
}


#overlay.carrinho-oculto {
    opacity: 0;
    pointer-events: none;
}

.carrinho-conteudo{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.quantidade{

    font-size: 12px;
    color: #272727;
    font-weight: 500;
    margin-top: 5px;   
}

.valorTotalIntens{
    
    display: flex;
    font-size: 12px;
    color: #066113;
    font-weight: 700;
    margin-top: 5px;   
}




section{
  
    display:flex;
    width: 100%;
    height: 500px;
    background: #1569d6;
  
 
   
}

.section-left{
    
    width:50%;    
}

.h2-section{
   
  margin-left: 200px;
    color: #ffffff;
    font-size: 30px;
    font-size: 50px;
    margin-top: 150px;
}

.paragrafo-section{
    
    
    margin-left: 200px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    width: 500px;
}

.btn-primary{
    margin-left: 200px;
    margin-top: 50px;
    padding: 15px 25px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    
}


.btn-primary:hover{
    background-color: #12509f;
    color: white;
    border:1.5px solid white;
}

.a-btn-primary{
    text-decoration: none;
    color: #454545;
}

.btn-secondary{
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: white;
    color: #1569d6;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
  
    
}

.btn-secondary:hover{
    background-color: #12509f;
    color: white;
    border:1.5px solid white;
}

.a-btn-secondary{
    text-decoration: none;
    color: #454545;

}


.section-right{

     width:50%;    
}

.logo-image{

    width: 600px;
    margin-top: 50px;
    border-radius: 15px;
    
}

.subheader{


     width: 100%;
     width: auto;

}


.h2-subheader{
    font-size: 20px;
    text-align: center;
    margin: 20px auto 40px 20px;
}


.categorias{

  display: grid;
  grid-template-columns: repeat(6);
  padding: 10px;
  place-items: center;

   
}

.categoria1{

    width: 150px;
    height: 80px;
    margin: 5px;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    background: #dcdbdb;
    text-decoration: none;
    color: #151414;
    padding: 15px;
     
}

.categoria1:hover{
    background: #717272;
   
}
.nome-categoria1{
    font-size: 25px;
    font-weight: 500;
}



.produtos-em-destaque{
    
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;

   
 
}

.h2-produtos{
    
    font-size: 20px;
    text-align: center;
    margin: 20px auto ;
}

ul{
  
    width: 100%;
    padding: 20px;
    list-style: none;
    background: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}
li{
    width: 180px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
   
}

.imagens-li{
    width: 100%;
    height: 200px;
    padding: 5px;
    border-radius: 15px;
}

.classificacao{
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #2e2c2c;

}

.nome-produto{
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
}

.valor-produto{

    padding:5px;
    font-size: 20px;
    font-weight: 700;
    color: #12509f;

}

.bnt-li{
    border-radius: 15px;
    margin: 10px 5px ;
    border: none;
    font-size: 12px;
    width: 95%;
    padding: 10px;
    font-weight: 400;
    background: #12509f;
    color: #ffffff;
    cursor: pointer;
 
}

.bnt-li:hover{
    background: #0e3c7a;
    color: #ffffff;
}


.product-name{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 5px 5px;
    opacity: 0.8;
}

.btn-featured-products{

    background-color: #12509f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
   
}

#adiciona-carrinho{
    text-decoration: none;
    color: white;
}

.payment-and-delivery{
   
    display: flex;
    width: 100%;
    height: 250px;
     
}

.delivery{
    display:inline-block;
    background:#ffffff;
    width:  400px;
    height: 200px; 
    margin-left: 200px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;

}

.carrinho-delivery{
 
  font-size: 50px;
  margin-bottom: 5px;

}

.h4-delivery{
    font-size: 20px;
    margin-bottom: 25px;
}

.p-delivery{

    font-weight: 500;
    color: #686969;

}

.payment{
   display:inline-block;
    background:#ffffff;
    width:  400px;
    height: 200px; 
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.card-payment{

  font-size: 50px;
  margin-bottom: 5px;

}

.h4-payment{
    font-size: 20px;
    margin-bottom: 25px;
}

.p-payment{

    font-weight: 500;
    color: #686969;

}

.shopping{
    display:inline-block;
    background:#ffffff;
    width:  400px;
    height: 200px; 
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.padlock-shopping{
    font-size: 50px;
   margin-bottom: 5px;
    
}

.h4-shopping{
    font-size: 20px;
    margin-bottom: 25px;
}

.p-shopping{

    font-weight: 500;
    color: #686969;

}


.invitation{
   
  
    width: 100%;
    display: flex;   
   
   
}

.logo-invitation{
   
    margin: 15px 20px 15px 150px;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    
}

.h2-invitation{
    margin:40px 0 10px 50px;
     
}

.✓{
    color: #1ece1e;
}

.p-invitation{
 
    width: 600px;
    font-weight: 400;
    margin-left: 50px;

}


.access-to-contacts{
    
   
    width: 100%;
    height: 180px;
    display: flex;
    
    
}

.p-telephone{

    background: #fffefe;
    width: 220px;
    font-size: 10px;
    text-align: center;
    margin: 10px 10px 10px 300px;
    font-size: 15px;
    font-weight: 400;
    border-radius:15px ;
}

.p-email{
    
    margin: 10px 10px 10px 20px;
    width: 220px;
    background: #fffefe;
    font-size: 10px;
    text-align: center;
    margin: 10px;
    font-size: 13.5px;
    font-weight: 400;
    border-radius:15px ;

}

.p-address{
    margin: 10px 10px 10px 0;
    width: 220px;
    background: #fffefe;
    font-size: 10px;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: 400;
     border-radius:15px ;

}

footer{
  
    display: flex;
    width: 100%;
    height: 200px;
    background: #131d29;
}

.footer1{
   
    margin: 0px 10px 10px 300px;
    width: 200px;
    height: 180px;

    
}

.h4-footer1, .h4-footer2,.h4-footer3,.h4-footer4 {
    text-align: center;
    color: #e1e1e1;
    font-size: 16px;
    margin-top:50px;
    
}

.p-footer1,.p-footer2,.p-footer3,.p-footer4{
 
    font-weight: 500;
    color: #b1b1b1;
    margin-top: 15px;
    font-size: 14px;
    margin-left: 35px;
    line-height: 1.5;
    cursor: pointer;
}

.a-footer{
    text-decoration: none;
    color: #b1b1b1;
}


.footer2{
  
    margin: 0px 10px 10px 10px;
    width: 150px;
     height: 180px;
    
}



.footer3{
   
    margin: 0px 10px 10px 10px;
    width: 150px;
    height: 180px;
}

.footer4{
   
    margin: 0px 10px 10px 10px;
    width: 150px;
    height: 180px;
}


.copyright{
   
    height: 80px;
    background: #131d29;
    
}

.copyright1{
 

    width: 70%;
    height: 50px;
    margin: 0px 10px 0 200px;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    border-top: #686969 solid 0.5px;

}

.p-copyright{
    margin-top: 25px;
     color: #b1b1b1;

}























